{% extends "base.html" %}
{% block content %}
<!-- kontainer 1 -->
<div class="container px-4 py-3">
    <h2 class="pb-2 border-bottom">Tentang Aplikasi</h2>
    <div class="row mt-4">
      <p> Aplikasi ini merupakan final project untuk program CS50X Indonesia Harvard tahun 2023-2024. Bahagia rasanya bisa
        sampai pada titik ini. Aplikasi ini merupakan tantangan terberat dan menjadikan tim kami tertantang
        untuk belajar lebih keras lagi. Mencoba dan mencoba lagi. Terimakasih kami sampaikan kepada Tim <b>CS50 Harvard University</b>,
        kepada para Teacher Fellow kami; <b>Ni'Mah Faadlillah, Thomas Ballatore, dan Zad Chin</b>. Terimakasih pula kami sampaikan kepada
        <b>Kemdikbudristek dan LPDP</b>. Inilah Final Project kami; <b>SaranSehat!</b>
      </p>
    </div>
    <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="images">
            <img src="/static/images/Eka.svg" class="img-thumbnail mb-4" style="width: 250px; height: auto;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Arif Eka Prasetya</h3>
        <p>Guru SMK yang mengajar program keahlian Desain Komunikasi Visual. Dalam proyek akhir ini mengerjakan Front-End.
            Mebuat halaman HTML dan me-route-kan semua link yang terkait. Mengemasnya menjadi satu tampilan Website SaranSehat.
        </p>
        
      </div>
      <div class="feature col">
        <div class="images">
            <img src="/static/images/Wirawan.svg" class="img-thumbnail mb-4" style="width: 250px; height: auto;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Wirawan Yogiyatno</h3>
        <p>Guru SMK yang mengajar Program Keahlian Teknik Komputer dan Jaringan. Dalam proyek akhir ini mengerjakan Back-End.
            Membuat sistem kalkulator dan saran menu. Mengemasnya menjadi satu sistem Website SaranSehat.</p>
        
      </div>
      <div class="feature col">
        <div class="images">
            <img src="/static/images/Reti.svg" class="img-thumbnail mb-4" style="width: 250px; height: auto;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Reti Sudarsih</h3>
        <p>Guru SMA yang mengajar Bahasa Inggris. Dalam proyek akhir ini mengerjakan database.
            menyediakan banyak data dan merancang tabel yang dibutuhkan dalam website SaranSehat. Mengemasnya menjadi satu database yang digunakan untuk Website SaranSehat.</p>
    </div>
    </div>
  </div>
<!-- akhir kontainer 1 -->
{% endblock %}