{% extends "base.html" %}
{% block title %} Informasi {% endblock %}
{% block content %}
<!-- Isi konten Informasi disini -->
<div class="row g-5 mx-4 mt-4">
  <div class="col-md-8 animate__animated animate__fadeIn">
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1"><b>Apa Itu IMT atau BMI?</b></h2>
      <p class="blog-post-meta">February 12, 2024 by <a href="#">admin</a></p>

      <h3>Pengertian Indeks Massa Tubuh (IMT) atau <i>Body Mass Index </i> (BMI)</h3>
      <p>Indeks Massa Tubuh (IMT) atau <i>Body Mass Index </i>(BMI) merupakan alat
        atau cara sederhana untuk memantau status gizi orang dewasa, khususnya yang
        berkaitan dengan kekurangan dan kelebihan berat badan.
        Massa Tubuh didefinisikan sebagai berat badan seseorang dalam kilogram dibagi
        tinggi badan dalam meter (kg/m2)</p>

      <h3>Mengapa IMT Penting Bagi Setiap Orang?</h3>
      <p>Indeks massa tubuh adalah cara termudah untuk mengetahui apakah seseorang berisiko mengalami suatu penyakit
        kronis atau tidak.
        Meskipun memang nilai IMT ini tidak bisa digunakan untuk mengukur kadar lemak tubuh yang juga penting untuk
        diketahui.</p>

      <h3>Perhitungan IMT</h3>
      <p>Perhitungan IMT adalah dengan membagi berat badan (dalam satuan kilogram) dengan tinggi badan (dalam satuan
        meter kuadrat).
        Contohnya, jika Anda memiliki berat badan sebesar 75 kg dengan tinggi 170 cm atau 1,7 meter.</p>

      <p><b>Jadi nilai IMT yang dimiliki adalah: 75 ÷ (1,7 × 1,7) = 25,95 Kg/m2</b></p>

      <p>Jika Anda sudah mendapatkan nilai IMT, maka angka tersebut menunjukkan status gizi yang dikategorikan sebagai
        berikut:</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Index Massa Tubuh</th>
            <th scope="col">Status Berat Badan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Di bawah 18.5</td>
            <td>Berat badan kurang (underweight)</td>
          </tr>
          <tr>
            <td scope="row">18.5 – 22.9</td>
            <td>Normal atau sehat</td>
          </tr>
          <tr>
            <td scope="row">23.0 – 24.9</td>
            <td>Berat badan lebih (overweight)</td>
          </tr>
          <tr>
            <td scope="row">25.0 ke atas</td>
            <td>Obesitas</td>
          </tr>
        </tbody>
      </table>
    </article>
    <br>
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1"><b>Cara Mengurangi Kalori untuk Diet</b></h2>
      <p class="blog-post-meta">February 13, 2024 by <a href="#">admin</a></p>

      <p>Meskipun mengurangi jumlah kalori efektif untuk menurunkan berat badan, jika dilakukan tanpa mempertimbangkan
        makanan yang dikonsumsi akan menjadi “bumerang” untuk kesehatan tubuh.

        Meskipun sedang diet, penting untuk memilih lebih banyak makanan padat nutrisi. Contohnya, biji-bijian,
        kacang-kacangan, sayuran, dan buah-buahan. Sebaliknya, makanan dan minuman tanpa nutrisi seperti soda, kue, dan
        makanan dengan tambahan gula lainnya harus dihentikan.

      <p>Berikut beberapa cara sederhana untuk dapat menurunkan berat badan:</p>
      <ul>
        <li>Konsumsi lebih banyak protein, untuk membuat perut lebih lama kenyang. Sehingga keinginan untuk makan lebih
          banyak
          bisa dicegah.</li>
        <li>Batasi minuman manis, seperti soda, jus buah, susu cokelat, dan minuman lain dengan tambahan gula.</li>
        <li>Minum air putih lebih banyak, terutama sebelum makan. Cara ini bermanfaat untuk mengurangi rasa lapar,
          sehingga
          kamu akan mengonsumsi sedikit kalori.</li>
        <li>Olahraga secara rutin untuk membakar kalori berlebih dari makanan.</li>
        <li>Kurangi asupan karbohidrat olahan dan makanan olahan. Contohnya roti putih, pasta, dan kerupuk.</li>
      </ul>
      <p>Itulah yang perlu diketahui tentang jumlah minimal kalori saat diet yang harus dipenuhi. Jika kamu ingin
        merencanakan diet, pastikan kamu mengetahui berat badan ideal kamu terlebih dahulu dengan menghitung BMI
        menggunakan Kalkulator pada aplikasi SaranSehat ini!</p>

      </p>
    </article>

    <nav class="blog-pagination mt-5 bg-white" aria-label="Pagination">
      <a class="btn btn-primary btn-sm rounded-pill" href="#">Older</a>
      <a class="btn btn-secondary btn-sm rounded-pill disabled" aria-disabled="true">Newer</a>
    </nav>

  </div>

  <div class="col-md-4 animate__animated animate__fadeIn">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <h4 class="fst-italic">Sumber</h4>
        <p class="mb-0">Artikel pada halaman ini berasal dari berbagai referensi, diantaranya adalah:</p>
        <ul>
          <li><a
              href="https://p2ptm.kemkes.go.id/infographic-p2ptm/obesitas/apa-itu-imt-dan-bagaimana-cara-menghitungnya">Kemenkes</a>
          </li>
          <li><a 
              href="https://hellosehat.com/nutrisi/fakta-gizi/apa-itu-indeks-massa-tubuh-adalah/">Hello Sehat</a>
          </li>
          <li><a 
              href="https://www.pexels.com/">Pexels: Gambar Free Licenses</a>
          </li>
          <li><a 
            href="https://indonesiaexpat.id/education/education-ministry-jakarta-intercultural-school-and-harvard-team-up-to-bring-cs50x-to-indonesia/">Gambar CS50X</a>
        </li>
        </ul>
      </div>

      <div>
        <h4 class="fst-italic">Recent posts</h4>
        <ul class="list-unstyled">
          <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
              href="#">
              <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <image xlink:href="https://images.pexels.com/photos/8363023/pexels-photo-8363023.jpeg" width="100%"
                  height="100%" preserveAspectRatio="xMidYMid slice" focusable="false"></image>
              </svg>
              <div class="col-lg-8">
                <h6 class="mb-0">Kesehatan Murid, Masa Depan Bangsa</h6>
                <small class="text-body-secondary">February 25, 2024</small>
              </div>
            </a>
          </li>
          <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
              href="#">
              <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <image
                  xlink:href="https://ditpsd.kemdikbud.go.id/upload/filemanager/2023/05/kampanye-sekolah-sehat%20(5).jpeg"
                  width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false"></image>
              </svg>
              <div class="col-lg-8">
                <h6 class="mb-0">Saran Sehat Hadir untuk Sekolah Sehat</h6>
                <small class="text-body-secondary">February 25, 2024</small>
              </div>
            </a>
          </li>
          <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
              href="#">
              <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <image
                  xlink:href="https://indonesiaexpat.id/wp-content/uploads/2023/03/WhatsApp-Image-2023-03-07-at-09.03.32.jpeg"
                  width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false"></image>
              </svg>
              <div class="col-lg-8">
                <h6 class="mb-0">CS50x Indonesia - Harvard 2023/2024, Mendekati Akhir!</h6>
                <small class="text-body-secondary">February 25, 2024</small>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

{% endblock %}