{% extends "dashboard.html" %}
{% block title %} Manage Users {% endblock %}
{% block content %}

<div class="section">
    <div action="/manage_user" method="post"></form>
    <h4>Manage User</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-cell">Nama</th>
                <th class="table-cell">Email</th>
                <th class="table-cell">Role</th>
                <th class="table-cell">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for user in users %}
            <tr>
                <td class="table-cell">{{ user.username }}</td>
                <td class="table-cell">{{ user.email }}</td>
                <td class="table-cell">{{ user.role }}</td>
                <td class="table-cell">
                    <div class="d-block my-1"><a href="/edit/{{ user.id }}" class="btn btn-primary btn-sm" style="width: 60px"> Edit </a></div>
                    <div class="d-block my-1"><form action="/delete/{{ user.id }}" method="post"><button type="submit" class="btn btn-danger btn-sm"style="width: 60px">Delete</button></form></div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
